*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html{
    font-size: 68%;
    
}

body{
    
}

.header{
    padding: 0 2.5rem;
    height: 5rem;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    height: 3rem;
    color: wheat;
}

.Navbar{
    
}

.Navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}

.Navbar-link:link,.Navbar-link:visited{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s;
}

.Navbar-link:hover, .Navbar-link:active{
    background-color: yellow;
    padding: 0.2rem 1.5rem;
    border-radius: 1.3rem;
    color: blue;
    text-shadow: 0.5rem;
    font-size: 1.4rem;
    font-weight: 800;
}

.mobile-navbar-btn{
    cursor: pointer;
    display: none;
    
}

.mobile-navbar-icon{
    color: aliceblue;
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-navbar-icon[name = 'close-outline']{
    display: none;
}

@media (max-width: 58em) {
    
    .header{
        position: relative;
    }

    .Navbar{
        /*display: none;*/
        width: 100%;
        height: 100vh;
        background-color: purple;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(-100%);
        transition: all 0.8s linear;

        
    }

    .Navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .mobile-navbar-btn{
        display: block;
    }

    .header .logo{
        width: 20%;
    }

    .active .Navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-navbar-icon[name="close-outline"] {
        display: block;
      }
    
    .active .mobile-navbar-btn .mobile-navbar-icon[name="menu-outline"] {
        display: none;
      }

}


